body {
	font-family: 'Lato', sans-serif;
	color: #747764;
	font-weight: 300;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}


.title-super{
	font-size: 50px;
}


.title-logo{
	margin-top: 20px;
}


.mockup-overlay{
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}